repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: check-terminology
        name: check-terminology
        entry: python scripts/check-terminology.py
        language: python
        types_or: [python, markdown, yaml]
        pass_filenames: true
